<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobiservices>
            <version>1.3.3</version>
        </Mobicommerce_Mobiservices>
    </modules>
    <frontend>
        <routers>
            <mobiservices>
                <use>standard</use>
                <args>
                    <module>Mobicommerce_Mobiservices</module>
                    <frontName>mobiservices</frontName>
                </args>
            </mobiservices>
        </routers>
    </frontend>    
    <global>
        <models>
            <mobiservices>
                <class>Mobicommerce_Mobiservices_Model</class>
                <resourceModel>mobiservices_mysql4</resourceModel>
            </mobiservices>
            <mobiservices_mysql4>
                <class>Mobicommerce_Mobiservices_Model_Mysql4</class>
                <entities>
                    <mobiservices>
                        <table>mobicommerce_applications</table>
                    </mobiservices>
                </entities>
            </mobiservices_mysql4>
        </models>
        <helpers>
            <mobiservices>
                <class>Mobicommerce_Mobiservices_Helper</class>
            </mobiservices>
        </helpers> 
        <blocks>
            <mobiservices>
                <class>Mobicommerce_Mobiservices_Block</class>
            </mobiservices>
        </blocks>
		<resources>
            <mobiservices_setup>
                <setup>
                    <module>Mobicommerce_Mobiservices</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobiservices_setup>
            <mobiservices_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobiservices_write>
            <mobiservices_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobiservices_read>
        </resources>		
    </global>    
</config>