<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobiadmin3>
            <version>3.0.0</version>
        </Mobicommerce_Mobiadmin3>
    </modules>
    <global>
        <helpers>
            <mobiadmin3>
                <class>Mobicommerce_Mobiadmin3_Helper</class>
            </mobiadmin3>
        </helpers>
		<blocks>
            <mobiadmin3>
                <class>Mobicommerce_Mobiadmin3_Block</class>
            </mobiadmin3>
			<adminhtml>
                <rewrite>
                    <page_menu>Mobicommerce_Mobiadmin3_Block_Adminhtml_Menu</page_menu>
                </rewrite>
            </adminhtml>
			<sales>
			    <rewrite>
				    <adminhtml_report_filter_form_order>Mobicommerce_Mobiadmin3_Block_Adminhtml_Report_Filter_Form_Order</adminhtml_report_filter_form_order>
			    </rewrite>
			</sales>
        </blocks>
		<models>
			<mobiadmin3>
				<class>Mobicommerce_Mobiadmin3_Model</class>
				<resourceModel>mobiadmin3_resource</resourceModel>
			</mobiadmin3>
			<mobiadmin3_resource>
                <class>Mobicommerce_Mobiadmin3_Model_Resource</class>
                <entities>
                    <applications>
                        <table>mobicommerce_applications3</table>
                    </applications>
					<appsetting>
                        <table>mobicommerce_applications_settings3</table>
                    </appsetting>
					<devicetokens>
					    <table>mobicommerce_devicetokens</table>
					</devicetokens>
					<notification>
					    <table>mobicommerce_notification</table>
					</notification>
					<licence>
					    <table>mobicommerce_licence</table>
					</licence>
					<widget>
					    <table>mobicommerce_widget3</table>
					</widget>
					<categorywidget>
					    <table>mobicommerce_category_widget3</table>
					</categorywidget>
					<categoryicon>
					    <table>mobicommerce_category_icon3</table>
					</categoryicon>
					<pushhistory>
					    <table>mobicommerce_pushhistory</table>
					</pushhistory>
                </entities>
            </mobiadmin3_resource>
		</models>
		<resources>
		    <mobiadmin3_setup>
			    <setup>
			        <module>Mobicommerce_Mobiadmin3</module>
			    </setup>
			    <connection>
			        <use>core_setup</use>
			    </connection>
		    </mobiadmin3_setup>
		    <mobiadmin3_write>
			    <connection>
				    <use>core_write</use>
				</connection>
		    </mobiadmin3_write>
		    <mobiadmin3_read>
			    <connection>
			        <use>core_read</use>
			    </connection>
		    </mobiadmin3_read>
	   </resources>
	   <events>
	   		<!-- events to clear cache -->
	   		<catalog_category_prepare_save>
	   			<observers>
	   				<Mobicommerce_Mobiadmin3_categoryedit_observer>
	   					<class>mobiadmin3/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin3_categoryedit_observer>
	   			</observers>
	   		</catalog_category_prepare_save>
	   			
	   		<catalog_controller_category_delete>
	   			<observers>
	   				<Mobicommerce_Mobiadmin3_categorydelete_observer>
	   					<class>mobiadmin3/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin3_categorydelete_observer>
	   			</observers>
	   		</catalog_controller_category_delete>

	   		<catalog_product_prepare_save>
	   			<observers>
	   				<Mobicommerce_Mobiadmin3_productedit_observer>
	   					<class>mobiadmin3/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin3_productedit_observer>
	   			</observers>
	   		</catalog_product_prepare_save>

			<catalog_controller_product_delete>
	   			<observers>
	   				<Mobicommerce_Mobiadmin3_productdelete_observer>
	   					<class>mobiadmin3/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin3_productdelete_observer>
	   			</observers>
	   		</catalog_controller_product_delete>

	   		<admin_system_config_changed_section_mobisociallogin>
	   			<observers>
	   				<Mobicommerce_Mobiadmin3_systemconfig_save_observer>
	   					<class>mobiadmin3/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin3_systemconfig_save_observer>
	   			</observers>
	   		</admin_system_config_changed_section_mobisociallogin>
	   		<cms_page_prepare_save>
	   			<observers>
	   				<Mobicommerce_Mobiadmin3_cmspage_save_observer>
	   					<class>mobiadmin3/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin3_cmspage_save_observer>
	   			</observers>
	   		</cms_page_prepare_save>
	   		<adminhtml_cmspage_on_delete>
	   			<observers>
	   				<Mobicommerce_Mobiadmin3_cmspage_delete_observer>
	   					<class>mobiadmin3/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin3_cmspage_delete_observer>
	   			</observers>
	   		</adminhtml_cmspage_on_delete>
	   		<!-- events to clear cache -->

	        <Mobicommerce_Mobiadmin3_createapp_predispatch>
		        <observers>
					<Mobicommerce_Mobiadmin3_ini_observer>
						<class>mobiadmin3/observer</class>
						<method>createMobicommerceIniIfNotExists</method>
					</Mobicommerce_Mobiadmin3_ini_observer>
				</observers>
	        </Mobicommerce_Mobiadmin3_createapp_predispatch>
		    <sales_convert_quote_to_order>
                <observers>
                    <Mobicommerce_Mobiadmin3_saveplatform_observer>
                        <class>mobiadmin3/observer</class>
                        <method>sales_convert_quote_to_order</method> 
                    </Mobicommerce_Mobiadmin3_saveplatform_observer>
                </observers>
            </sales_convert_quote_to_order>
            <store_add>
                <observers>
                    <Mobicommerce_Mobiadmin3_store_add_observer>
                        <type>singleton</type>
                        <class>mobiadmin3/observer</class>
                        <method>applyStoreIdToExistingApps</method>
                    </Mobicommerce_Mobiadmin3_store_add_observer>
                </observers>
            </store_add>
            <store_delete>
                <observers>
                    <Mobicommerce_Mobiadmin3_store_delete_observer>
                        <type>singleton</type>
                        <class>mobiadmin3/observer</class>
                        <method>deleteStoreIdToExistingApps</method>
                    </Mobicommerce_Mobiadmin3_store_delete_observer>
                </observers>
            </store_delete>
	   </events>
    </global>
    <!--
	<admin>
        <routers>
            <mobiadmin3>
                <use>admin</use>
                <args>
                    <module>Mobicommerce_Mobiadmin3</module>
                    <frontName>mobicommerce3</frontName>
                </args>
            </mobiadmin3>
        </routers>
    </admin>
	-->
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<mobiadmin3 after="Mage_Adminhtml">Mobicommerce_Mobiadmin3_Adminhtml</mobiadmin3>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
	    <layout>
            <updates>
                <mobiadmin3>
                    <file>mobiadmin3.xml</file>
                </mobiadmin3>
            </updates>
        </layout> 
		<translate>
		    <modules>
			   	<mobiadmin3>
			       	<files>
				       <default>Mobicommerce_Mobiadmin3.csv</default>
				   	</files>
			   	</mobiadmin3>
			</modules>
		</translate>
	</adminhtml>
</config> 