<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobiadmin>
            <version>1.0.1</version>
        </Mobicommerce_Mobiadmin>
    </modules>
    <global>
        <helpers>
            <mobiadmin>
                <class>Mobicommerce_Mobiadmin_Helper</class>
            </mobiadmin>
        </helpers>
		<blocks>
            <mobiadmin>
                <class>Mobicommerce_Mobiadmin_Block</class>
            </mobiadmin>
			<adminhtml>
                <rewrite>
                    <page_menu>Mobicommerce_Mobiadmin_Block_Adminhtml_Menu</page_menu>
                </rewrite>
				<rewrite>
				    <sales_order_grid>Mobicommerce_Mobiadmin_Block_Adminhtml_Order_Grid</sales_order_grid>
				</rewrite>
				<rewrite>
				    <dashboard_sales>Mobicommerce_Mobiadmin_Block_Adminhtml_Dashboard_Sales</dashboard_sales>
				</rewrite>
				<rewrite>
				    <report_sales_sales_grid>Mobicommerce_Mobiadmin_Block_Adminhtml_Report_Sales_Sales_Grid</report_sales_sales_grid>					
				</rewrite>	
            </adminhtml>
			<sales>
			    <rewrite>
				    <adminhtml_report_filter_form_order>Mobicommerce_Mobiadmin_Block_Adminhtml_Report_Filter_Form_Order</adminhtml_report_filter_form_order>
			    </rewrite>
			</sales>
        </blocks>
		<models>
			<mobiadmin>
				<class>Mobicommerce_Mobiadmin_Model</class>
				<resourceModel>mobiadmin_resource</resourceModel>
			</mobiadmin>
			<mobiadmin_resource>
                <class>Mobicommerce_Mobiadmin_Model_Resource</class>
                <entities>
                    <applications>
                         <table>mobicommerce_applications</table>
                    </applications>
					<multilanguage>
                         <table>mobicommerce_multilanguage</table>
                    </multilanguage>
					<appsetting>
                         <table>mobicommerce_applications_settings</table>
                    </appsetting>
					<appwidget>
                         <table>mobi_app_widgets</table>
                    </appwidget>
					<categoryicons>
					     <table>mobicommerce_category_icons</table>
					</categoryicons>
					<devicetokens>
					     <table>mobicommerce_devicetokens</table>
					</devicetokens>
					<notification>
					     <table>mobicommerce_notification</table>
					</notification>
					<licence>
					     <table>mobicommerce_licence</table>
					</licence>
                </entities>
            </mobiadmin_resource>
		</models>
		<resources>
		    <mobiadmin_setup>
			    <setup>
			        <module>Mobicommerce_Mobiadmin</module>
			    </setup>
			    <connection>
			        <use>core_setup</use>
			    </connection>
		    </mobiadmin_setup>
		    <mobiadmin_write>
			    <connection>
				    <use>core_write</use>
				</connection>
		    </mobiadmin_write>
		    <mobiadmin_read>
			    <connection>
			        <use>core_read</use>
			    </connection>
		    </mobiadmin_read>
	   </resources>
	   <events>
	       <controller_action_predispatch>
		        <observers>
					<controller_action_before>
						<class>mobiadmin/observer</class>
						<method>hookToControllerActionPreDispatch</method>
					</controller_action_before>
				</observers>
	       </controller_action_predispatch>
		   <sales_convert_quote_to_order>
                <observers>
                    <saveplatform>
                        <class>mobiadmin/observer</class>
                        <method>sales_convert_quote_to_order</method> 
                    </saveplatform>
                </observers>
            </sales_convert_quote_to_order>
	   </events>
    </global>
	<admin>
        <routers>
            <mobiadmin>
                <use>admin</use>
                <args>
                    <module>Mobicommerce_Mobiadmin</module>
                    <frontName>mobicommerce</frontName>
                </args>
            </mobiadmin>
        </routers>
    </admin>
	<adminhtml>
	    <layout>
            <updates>
                <mobiadmin>
                    <file>mobiadmin.xml</file>
                </mobiadmin>
            </updates>
        </layout> 
		<translate>
		    <modules>
			   <mobiadmin>
			       <files>
				       <default>Mobicommerce_Mobiadmin.csv</default>
				   </files>
			   </mobiadmin>
			</modules>
		</translate>
	</adminhtml>
</config> 