<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobisociallogin2>
            <version>1.0.0</version>
        </Mobicommerce_Mobisociallogin2>
    </modules>
    <frontend>
        <routers>
            <mobisociallogin3>
                <use>standard</use>
                <args>
                    <module>Mobicommerce_Mobisociallogin2</module>
                    <frontName>mobisociallogin3</frontName>
                </args>
            </mobisociallogin3>
        </routers>
        <layout>
            <updates>
                <mobisociallogin3>
                    <file>mobisociallogin3.xml</file>
                </mobisociallogin3>
            </updates>
        </layout>
		<translate>
			<modules>
				<Mobicommerce_Mobisociallogin2>
					<files>
						<default>Mobicommerce_Mobisociallogin3.csv</default>
					</files>
				</Mobicommerce_Mobisociallogin2>	
			</modules>
		</translate>
    </frontend>

    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<mobisociallogin3 translate="title">
											<title>Mobisocial Login</title>
											<sort_order>50</sort_order>
										</mobisociallogin3>									
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>	
		<layout>
			<updates>
				<mobisociallogin3>
					<file>mobisociallogin3.xml</file>
				</mobisociallogin3>
			</updates>
		</layout>
		<translate>
			<modules>
				<Mobicommerce_Mobisociallogin2>
					<files>
						<default>Mobicommerce_Mobisociallogin2.csv</default>
					</files>
				</Mobicommerce_Mobisociallogin2>	
			</modules>
		</translate>	
    </adminhtml>   
    <global>
        <resources>
            <mobisociallogin3_setup>
                <setup>
                    <module>Mobicommerce_Mobisociallogin2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobisociallogin3_setup>
            <mobisociallogin3_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobisociallogin3_write>
            <mobisociallogin3_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobisociallogin3_read>
        </resources>
    </global>
	
	<default>
		<mobisociallogin3>
			<fblogin>
				<is_active>1</is_active>
				<app_id>408928736120784</app_id>
				<app_name>MobiCommerce Demo</app_name>
				<title>Login with Facebook</title>
				<sort_order>1</sort_order>
			</fblogin>
			<gologin>	
				<is_active>1</is_active>
				<sha1key>20:55:05:11:D0:3D:B6:1B:FF:79:3D:02:1E:91:7B:1B:66:60:1C:DA</sha1key>
				<consumer_key>881306584774-gn175pq2op8tgn2fc125s38hho48k26k.apps.googleusercontent.com</consumer_key>
				<title>Login with Google</title>
				<sort_order>2</sort_order>
			</gologin>
		</mobisociallogin3>
	</default>
</config>
