<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobimobileredirect>
            <version>0.1.0</version>
        </Mobicommerce_Mobimobileredirect>
    </modules>
    <global>
        <helpers>
            <mobimobileredirect>
                <class>Mobicommerce_Mobimobileredirect_Helper</class>
            </mobimobileredirect>
        </helpers>	
		<models>
		    <mobimobileredirect>
                <class>Mobicommerce_Mobimobileredirect_Model</class>
            </mobimobileredirect>
		</models>
		<blocks>
            <mobimobileredirect>
                <class>Mobicommerce_Mobimobileredirect_Block</class>
            </mobimobileredirect>
        </blocks>
    </global>
	<frontend>
	    <layout>
            <updates>
                <mobimobileredirect>
                    <file>mobiredirect.xml</file>
                </mobimobileredirect>
            </updates>
        </layout>
	</frontend>
	<default>
	   <mobimobileredirect>
	       <isactive_group>
		       <isactive_value>0</isactive_value>
	       </isactive_group>
	   </mobimobileredirect>
	</default>
	<adminhtml>
	    <acl>
            <resources>
                <admin>  
                    <children>
                        <system>
                            <children>
                                <config>
								    <children>
										<mobimobileredirect translate="title" module="mobimobileredirect">  
											<title>Mobimobile Redirect ACL</title>  
											<sort_order>99</sort_order>
										</mobimobileredirect>
									</children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
</config> 