<?xml version="1.0"?>
<config>
	<modules>
		<Mobicommerce_Mobipayments>
			<version>1.0.0</version>
		</Mobicommerce_Mobipayments>
	</modules>
	<global>
		<models>
			<mobipayments>
				<class>Mobicommerce_Mobipayments_Model</class>
			</mobipayments>
		</models>
		<helpers>
			<mobipayments>
				<class>Mobicommerce_Mobipayments_Helper</class>
			</mobipayments>
		</helpers>
		<blocks>
			<mobipayments>
				<class>Mobicommerce_Mobipayments_Block</class>
			</mobipayments>
		</blocks>
	</global>
	<default>
		<payment>
			<mobipayments>
				<model>mobipayments/standard</model>
				<active>0</active>
				<order_status>pending</order_status>
				<title>Paypal</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
			</mobipayments>
		</payment>
	</default>
	<frontend>
		<routers>
			<mobipayments>
				<use>standard</use>
				<args>
					<module>Mobicommerce_Mobipayments</module>
					<frontName>mobipayments</frontName>
				</args>
			</mobipayments>
		</routers>
	</frontend>
</config>