<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<mobipayments translate="label comment" module="mobipayments">
					<label>Mobi Paypal</label>
					<frontend_type>text</frontend_type>
					<sort_order>300</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<clientid translate="label comment">
							<label>Client Id</label>
							<comment>Enter client id for paypal</comment>
							<frontend_type>text</frontend_type>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</clientid>
						<api_username translate="label comment">
							<label>API Username</label>
							<comment>Enter API username for paypal</comment>
							<frontend_type>text</frontend_type>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_username>
						<api_password translate="label comment">
							<label>API Password</label>
							<comment>Enter API password for paypal</comment>
							<frontend_type>text</frontend_type>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_password>
						<merchant_name translate="label comment">
							<label>Merchant Name</label>
							<comment>Enter Merchant Name</comment>
							<frontend_type>text</frontend_type>
							<sort_order>24</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</merchant_name>
						<privacy_policy_url translate="label comment">
							<label>Merchant Privacy Policy Url</label>
							<comment>Enter Merchant Privacy Policy Url</comment>
							<frontend_type>text</frontend_type>
							<sort_order>25</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</privacy_policy_url>
						<aggrement_url translate="label comment">
							<label>Merchant Agreement Url</label>
							<comment>Enter Merchant Agreement Url</comment>
							<frontend_type>text</frontend_type>
							<sort_order>26</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</aggrement_url>
						<dropdown translate="label comment">
							<label>Sandbox Mode</label>
							<comment>Yes/no</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>28</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</dropdown>
						<allow_direct_credit_card translate="label comment">
							<label>Allow Direct Credit Card Payments</label>
							<comment>Please note that paypal supports this method only for US and UK</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>29</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</allow_direct_credit_card>
						<order_status translate="label">
							<label>New Order Status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<allowspecific translate="label">
							<label>Payment Applicable From</label>
							<frontend_type>select</frontend_type>
							<sort_order>61</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Countries Payment Applicable From</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>70</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
								<allowspecific>1</allowspecific>
							</depends>
						</specificcountry>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
					</fields>
				</mobipayments>
			</groups>
		</payment>
	</sections>
</config>